{% extends 'base_accounts.html' %} {% block title %}Log in to iCare Admin{% endblock %} {% block content %}


<div class="card mb-2">
    <div class="card-body p-3">
        <div class="row mb-3">
            <div class="col-12">
                You have Successfully Loggedout
            </div>

        </div>
        <div class="row mb-3">
            <div class="col-12">
                <a href="{% url 'login' %}" class="btn btn-info ml-2">Login Again</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}