{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">Project Name</th>
            <th class="text-center">User Name</th>
        </tr>
    </thead>
    <tbody>
        {% for x in user_project%}
        <tr>

            <td class="text-center">
                {{x}}

            </td>

            <td class="text-center">
                {{names}}

            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}