.navbar-brand {
  font-family: 'Peralta', cursive;
}
.navbar,
.navbar-brand
{
  padding: 0;
}
.company
  {
    font-size: 16px;
  }
.customer ul li
  {
    list-style: none;
  }
.contact-detail .first-div{
  width: 10%;
}

.table thead th
  {
    vertical-align: middle;
  }
  .starrating > input {display: none;}  /* Remove radio buttons */

  .starrating > label:before { 
    content: "\f005"; /* Star */
    margin: 2px;
    font-size: 8em;
    font-family: FontAwesome;
    display: inline-block; 
  }
  
  .starrating > label
  {
    color: #222222; /* Start color when not clicked */
  }
  
  .starrating > input:checked ~ label
  { color: #ffca08 ; } /* Set yellow color when star checked */
  
  .starrating > input:hover ~ label
  { color: #ffca08 ;  } /* Set yellow color when star hover */
  
  .confirmform .table td{ 
    border-top: 0;
  }

