.detail {
  border: 1px solid #ccc;
}

.input-group-text {
  background: transparent;
  padding: 0%;
  padding-left: 10px;
  color: #333;
  border: 0;
}

.offset-0 .offset-lg-4 {
  margin: 0 !important;
}

.companytable {
  border: 0px solid #CCC;
  width: 100%;
  border-collapse: collapse;

}

.text_small { 
  font-size: smaller;
}

.commecial {
  width: 100%;
  border: 0px solid #CCC;
  margin-bottom: 1rem;
  background-color: transparent;
}

table.sortable thead {
  background-color: #eee;
  color: #666666;
  font-weight: bold;
  cursor: default;
}

.tablesorter-bootstrap thead th,
    .tablesorter-bootstrap thead td,
    .tablesorter-bootstrap tfoot th,
    .tablesorter-bootstrap tfoot td {
      font: 14px/20px Arial, Sans-serif;
      font-weight: bold;
      padding: 4px;
      margin: 0 0 18px;
    }

    .tablesorter-bootstrap thead .tablesorter-header {
      background-position: right 5px center;
      background-repeat: no-repeat;
      cursor: pointer;
      white-space: normal;
    }

    .tablesorter-bootstrap:not(.table-dark) thead:not(.thead-dark) .tablesorter-header,
    .tablesorter-bootstrap:not(.table-dark) tfoot th,
    .tablesorter-bootstrap:not(.table-dark) tfoot td {
      background-color: #eee;
    }

    .tablesorter-bootstrap thead .sorter-false {
      cursor: default;
      background-image: none;
    }

    .tablesorter-bootstrap .tablesorter-header-inner {
      position: relative;

    }

    /* black icons */
    .tablesorter-bootstrap thead .tablesorter-headerUnSorted:not(.sorter-false) {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE0IDIwIj48cGF0aCBkPSJNMTQgMTNsLTIuNS0yLjVMNyAxNWwtNC41LTQuNUwwIDEzbDcgN3pNMTQgNy41TDExLjUgMTAgNyA1LjUgMi41IDEwIDAgNy41bDctN3oiLz48L3N2Zz4=);
    }

    .tablesorter-bootstrap thead .tablesorter-headerAsc {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDE0IDE0Ij48cGF0aCBkPSJNMTQgOS41TDExLjUgMTIgNyA3LjUgMi41IDEyIDAgOS41bDctN3oiLz48L3N2Zz4=);
    }

    .tablesorter-bootstrap thead .tablesorter-headerDesc {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDE0IDE0Ij48cGF0aCBkPSJNMTQgNWwtMi41LTIuNS00LjUgNC41LTQuNS00LjVMMCA1IDcgMTJ6Ii8+PC9zdmc+);
    }

    /* white icons */
    .tablesorter-bootstrap thead.thead-dark .tablesorter-headerUnSorted:not(.sorter-false),
    .tablesorter-bootstrap.table-dark thead .tablesorter-headerUnSorted:not(.sorter-false) {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE0IDIwIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTQgMTNsLTIuNS0yLjVMNyAxNWwtNC41LTQuNUwwIDEzbDcgN3pNMTQgNy41TDExLjUgMTAgNyA1LjUgMi41IDEwIDAgNy41bDctN3oiLz48L3N2Zz4=);
    }

    .tablesorter-bootstrap thead.thead-dark .tablesorter-headerAsc,
    .tablesorter-bootstrap.table-dark thead .tablesorter-headerAsc {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDE0IDE0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTQgOS41TDExLjUgMTIgNyA3LjUgMi41IDEyIDAgOS41bDctN3oiLz48L3N2Zz4=);
    }

    .tablesorter-bootstrap thead.thead-dark .tablesorter-headerDesc,
    .tablesorter-bootstrap.table-dark thead .tablesorter-headerDesc {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDE0IDE0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTQgNWwtMi41LTIuNS00LjUgNC41LTQuNS00LjVMMCA1IDcgMTJ6Ii8+PC9zdmc+);
    }
    
    
  .discount-table tbody tr td{
      border: 0;
      padding: 7px;
  }
  .discount-table tbody tr td+td{
     float: right;
  }
  .w-15
    {
      width: 10%;
    }



/* CSS overiding bootstrap 4 for admin */

.form-control
    {
      height: auto;
      padding: 2px 10px;
      font-size: 14px;
    }
.form-check-label,
.col-form-label
      {
        font-size:14px;
      }
.form-group
      {
        margin-bottom: 5px;
      }
table td,
.dropdown-menu,
.breadcrumb-item,
.form-group,
table td a{
  font-size: 14px;
}
.btn
{
  padding:2px 6px;
  font-size: 14px;
}
.table .thead-dark th
{
  font-size: 14px;
  padding: 5px 20px;
    vertical-align: middle;
}
.width-fix
  {
    width: 14em;
    display: inline-block;
  }
  .table td, .table th {
    padding: 5px;
  }
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

